/*Tags globais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

/******/

header {
    background-color: #ccc;
    max-width: 100vw;
    width: 100%;
    height: 60px;
}

header .container {
    text-align: center;
    margin: 0 auto;
}

header h1 {
    font-size: 44px;
    padding: 6px;
}

section {
    background-image: url(./images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;

    display: flex;
}

section .container-text {
    max-width: 800px;
    width: 100%;

    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section h2 {
    background-color: rgba(204, 204, 204, 0.3);
    color: white;
    text-align: center;
    font-size: 32px;

    padding: 20px;
}

section .container-inputs {
    display: inline-block;
    max-width: 500px;
    width: 100%;

    padding: 50px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(204, 204, 204, 0.3);
}

section .container-inputs h3 {
    margin-top: -30px;
    margin-bottom: 40px;
    text-align: center;

    color: white;
    font-size: 24px;
}

section .container-inputs .input label {
    color: white;
    font-size: 16px;

    margin-top: 30px;
}

section .container-inputs input,
section .container-inputs select {
    width: 100%;
    max-width: 400px;
    height: 40px;

    outline: none;
    border: none;
    border-radius: 2px;

    padding-left: 15px;
    margin-bottom: 30px;
}

section .container-inputs p {
    font-size: 16px;
    color: white;
}

section .container-inputs button {
    width: 100px;
    height: 40px;
    outline: none;
    margin-top: 40px;
    margin-left: 150px;

    border: none;
    border-radius: 30px;
    background-color: rgb(47, 151, 47);

    font-size: 16px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    section .container-text,
    section .container-inputs {   
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1050px) {
    section {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    section .container-text,
    section .container-inputs {
        margin-top: 60px;
    }
}

@media screen and (max-width: 560px) {
    section .container-inputs {
        max-width: 350px;
        width: 100%;
    }

    section .container-inputs p{
        margin-bottom: 40px;
    }

    section .container-inputs button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}